<div class="flex-col justify-center">
  <p class="font-bold text-6xl text-center">Perfect Exchanger</p>
  <p class="">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident,
    perferendis officiis incidunt nihil dolor illo amet enim officia nisi
    dolorum sed fugit mollitia at et rem vel minima voluptatibus quas. Ab, odio.
    Ullam asperiores aperiam mollitia quasi maiores illum, blanditiis, magni
    cupiditate eius commodi voluptates accusantium atque tenetur deleniti
    voluptas obcaecati dicta, odio corporis ab sed provident error quis suscipit
    unde. Dignissimos magni rem quas velit, at molestias ipsam. Possimus
    distinctio architecto reiciendis dolorem itaque, a accusantium, alias
    maiores placeat at delectus officia libero? Ducimus consequuntur fugit iste
    ab maiores error dolorum rerum est atque, molestiae delectus quis alias
    quidem, quos deleniti non cum dolorem possimus. Aut illum eaque autem quo
    debitis officia ipsa. Quo minima velit, consequatur, magnam perferendis sit
    officia in deserunt accusantium doloremque id, quaerat commodi quisquam nisi
    exercitationem ipsa officiis voluptatum blanditiis alias vitae rem. Laborum,
    sunt ad? Illo minima libero quia asperiores laudantium porro natus tenetur
    dolor blanditiis! Quibusdam recusandae saepe provident expedita! Cupiditate,
    voluptate dignissimos est asperiores, inventore quisquam repellendus tenetur
    quasi reprehenderit quas similique, voluptatum error. Tempora earum a id
    iusto dolor blanditiis corporis! Hic cum dolorem neque laboriosam cupiditate
    saepe. Doloremque quos aliquid minus similique expedita, fugit delectus?
    Eligendi molestias dolore non.
  </p>
</div>
